# Assignment 4 (Heroes of Pymoli)

In [8]:
# Imports
import pandas as pd
import numpy as np

In [9]:
# Loading the csv file
file_csv = "Resources/Gamedata.csv"
game_df = pd.read_csv(file_csv)
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
# Total number of players
Total_Players = len(game_df["SN"].unique())
# Creating a Data Frame for the total number of players
Players = pd.DataFrame({"Total Players":Total_Players}, index = [0])
Players

   Total Players
0            576

In [25]:
# Purchasing Analysis
# Number of Unique Items
Total_Items = len(game_df["Item ID"].unique())
# Average Price
Average_Price = game_df["Price"].mean()
# Total Number of Purchases
Total_Purchases = len(game_df["Purchase ID"].unique())
# Total Revenue
Total_Revenue = game_df["Price"].sum()
# Construct new dataframe
Purchasing_Analysis = pd.DataFrame ({"Number of Unique Items" : [Total_Items],
                                     "Average Price" : [Average_Price],
                                     "Number of Purchases" : [Total_Purchases],
                                     "Total Revenue" : [Total_Revenue]})
# Give format to columns "${:,.2f}
Purchasing_Analysis["Average Price"] = Purchasing_Analysis["Average Price"].map("${:,.2f}".format)
Purchasing_Analysis["Total Revenue"] = Purchasing_Analysis["Total Revenue"].map("${:,.2f}".format)
# Dataframe
Purchasing_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [40]:
# Gender Demographics
# Removing Duplicate Players
Total_Users = game_df[["SN","Age", "Gender"]]
Total_Users_WD = Total_Users.drop_duplicates(["SN"])
# Percentage and Count of Male Players
Total_Genders = Total_Users_WD["Gender"].value_counts()
Percentage_Genders = Total_Genders / Total_Players
# Create Dataframe for calculations
Gender_Demographics = pd.DataFrame({"Total Count" : Total_Genders,
                                    "Percentage of Players" : Percentage_Genders})
# Give format to columns {:,.2%}
Gender_Demographics["Percentage of Players"] = Gender_Demographics["Percentage of Players"].map("{:,.2%}".format)
Gender_Demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [ ]:
# Purchasing Analysis (Gender)